/* rob_layout is the same as rob_adidas_layout, just replace
 * background blue:  #006699 with red:i    #bb1111
 * text yellowgreen: #99bb00/#ccee00 with pinkred: #ef5757 */

// text colors
$text_c         : #ddd;
$header_c       : white; // this is the header
$tagline_c      : white;
$headers_c      : white; // these are the headers h1/h2/h3 etc
$header_links_c : orange;
$header_hover_c : white;
$links_c        : white;
$links_hover_c  : $header_links_c;
$codeblock_c    : #222222;
$navbar_hover_c : $links_hover_c;
$navbar_links_c : gray;
$navbar_c       : $navbar_links_c;

// background colors
$header_bg        : black;
$body_bg          : #111111;
$content_bg       : #111111;
$footer_bg        : $header_bg;
$page_bg          : black;
$codeblock_bg     : #222222;
$navbar_top_bg    : #111111;
$navbar_bottom_bg : $navbar_top_bg;

// sizes
//$page_width : 1200px;

body {
  margin: 0px;
  background: $page_bg;
  font: {
    family: Arial, Verdana, "Bitstream Vera Sans", Helvetica, sans-serif; 
    size: 8px;
  }
}

th {
  background-color: #444;
  color: #ddd;
  padding: 2px 3px;
}

td {
  vertical-align: top;
}

tr[alternate_background=true] td {
  background-color: #333;
  padding: 2px 3px;
}

tr[alternate_background=false] td {
  background-color: #444;
  padding: 2px 3px;
}

div#title {
  font-size: 30px ! important;
}

a {
  color: $links_c;
  text-decoration: none;
  &:hover {
    color: $links_hover_c;
  }
}

#header a, {
  color: $header_links_c !important;
  &:hover {
    color: $header_hover_c !important;
  }
}

#header {
  margin: 20px auto 0;
  width: 1092px;
  color: $header_c;
}

table {
  margin: 0 auto;
  background: $body_bg;
  padding: 5px 5px;
}

#content {
  padding: 5px 0px;
  margin: 0 auto;
  //width: $page_width;
  //background: $body_bg;
  color: $text_c;
}
